USE [MVCGridDemo]
GO
/****** Object:  Table [dbo].[BindingType]    Script Date: 7/20/2015 8:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BindingType](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_BindingType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Book]    Script Date: 7/20/2015 8:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Book](
	[Index] [int] NOT NULL,
	[Position] [int] NULL,
	[ISBN] [varchar](50) NULL,
	[Title] [varchar](250) NULL,
	[Author] [varchar](250) NULL,
	[Imprint] [varchar](250) NULL,
	[PublisherGroup] [varchar](250) NULL,
	[Volume] [bigint] NULL,
	[Value] [varchar](50) NULL,
	[RRP] [varchar](50) NULL,
	[ASP] [varchar](50) NULL,
	[BindingTypeId] [int] NULL,
	[PublDate] [datetime] NULL,
	[ProductClass] [varchar](50) NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[Index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BindingType] ([Id], [Name]) VALUES (1, N'Hardback')
INSERT [dbo].[BindingType] ([Id], [Name]) VALUES (2, N'Paperback')
INSERT [dbo].[Book] ([Index], [Position], [ISBN], [Title], [Author], [Imprint], [PublisherGroup], [Volume], [Value], [RRP], [ASP], [BindingTypeId], [PublDate], [ProductClass]) VALUES (1, 1, N'9780550000000', N'Da Vinci Code,The', N'Brown, Dan', N'Corgi Books', N'Transworld Grp', 4522025, N'Â£22,857,837.53', N'Â£7.99', N'Â£5.05', 2, CAST(N'2004-03-01 00:00:00.000' AS DateTime), N'F2.1  Crime, Thriller & Adventure')
INSERT [dbo].[Book] ([Index], [Position], [ISBN], [Title], [Author], [Imprint], [PublisherGroup], [Volume], [Value], [RRP], [ASP], [BindingTypeId], [PublDate], [ProductClass]) VALUES (2, 5, N'9780750000000', N'Harry Potter and the Order of the Phoenix', N'Rowling, J. K.', N'Bloomsbury Publishing PLC', N'Bloomsbury Grp', 3043226, N'Â£33,925,431.19', N'Â£16.99', N'Â£11.15', 1, CAST(N'2003-06-21 00:00:00.000' AS DateTime), N'Y2.1  Children''s Fiction')
INSERT [dbo].[Book] ([Index], [Position], [ISBN], [Title], [Author], [Imprint], [PublisherGroup], [Volume], [Value], [RRP], [ASP], [BindingTypeId], [PublDate], [ProductClass]) VALUES (3, 2, N'9780750000000', N'Harry Potter and the Philosopher''s Stone#', N'Rowling, J. K.', N'Bloomsbury Publishing PLC', N'Bloomsbury Grp', 3844316, N'Â£19,853,187.43', N'Â£6.99', N'Â£5.22', 2, CAST(N'1997-06-26 00:00:00.000' AS DateTime), N'Y2.1  Children''s Fiction')
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_BindingType] FOREIGN KEY([BindingTypeId])
REFERENCES [dbo].[BindingType] ([Id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_BindingType]
GO
