@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVCGrid.Net Bookstore</h1>
    <p class="lead">Welcome to the MVCGrid.Net Bookstore Sample Application.</p>
    <p><a href="@Url.Action("index", "books")" class="btn btn-primary btn-lg">Books &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Source</h2>
        <p>The source for this demo application is available on github.</p>
        <p><a class="btn btn-default" href="https://github.com/joeharrison714/MVCGridDemo">Get the Source &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Click the link below to read the getting started information.
        </p>
        <p><a class="btn btn-default" href="http://mvcgrid.net/gettingstarted">Go &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Documentation</h2>
        <p>Click the link below for the MVCGrid.Net docs.</p>
        <p><a class="btn btn-default" href="http://mvcgrid.net/documentation">Docs &raquo;</a></p>
    </div>
</div>